
header {
    display: flex;
    justify-content: center;
}

header .text-form {
    width: 500px;
    box-shadow: 10px 10px 10px gray;
    border: 1px solid black;
}

header .text-form .image-app img{
    color: white;
    display: block;
    width: 100%;
    height: auto;
}

header .text-form .title{
    margin: 20px;
    font-size: 35px;
    padding: 0 20px;
}

header .text-form .text {
    margin: 20px 0;
    padding: 0 20px;
}

header .text-form .under-text {
    margin: 20px 0;
    padding: 0 20px;
}
