* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    height: 100vh;
}

header{
    top: 0;
    left: 0;
    right: 0;
    background:lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0 5px 10px #000;
}

header .logo{
    font-size: 20px;
    font-weight: 900;
    color: #000;
    transition: .5s;
}

header .logo:hover{
    transform: scale(1.2);
}

header nav ul li{
    position: relative;
    float: left;
}

header nav ul li a{
    padding: 15px;
    text-align: center;
    width: 120px;
    color: #000;
    font-size: 16px;
    display: block;

    &:hover {
    background-color:#000;
    border-color: #000;
    color: white;
    }
}

header ul li ul{
    position: absolute;
    left: 0;
    width: 120px;
    background: lightblue;
    display: none;
}

header nav ul li ul li{
    width: 100%;
    border: 1px solid #cecece;
}

header nav ul li ul li ul{
    left: 119px;
    top: 0;
}

header nav ul li:hover > ul{
    display: initial;
}

form {
    position: relative;
    width: auto;
    float: right;
    margin-right: 30px;
}

input {
    position: relative;
    width: 200px;
    height: 25px;
    padding: 0 35px 0 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #000;
    transition: .3s linear;
}

input:focus {
    width: 250px;
}

button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 35px;
    height: 25px;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

main .two {
    display: flex;
}

main aside {
    display: flex;
    font-size: 30px;
    justify-content: center;
    top: 200px;
    width: 100%;;
    margin: -50px 0 0 0;
}

main aside p {
    margin-right: 10px;
}

main aside .out {
    display: inline-block;
    
}

main .left-menu-bok {
    display: inline-block;
    width: 200px;
    text-align: center;
    margin: 20px 0 0 0;
    border: 2px solid black;
    box-shadow: 0 5px 10px #000;
    background-color: lightblue;
}

main .left-menu-bok ul li a{
    display: block;
    padding: 15px;
    color: #000;
    font-size: 16px;

    &:hover {
        background-color: #000;
        color: white;
    }
}

main .two .left-menu-bok ul li ul{
    width: 200px;
}

main .left-menu-bok2 {
    color: gray;
    position: absolute;
    margin-top: 15px;
    left: -195px;
    background-color: white;
    width: 200px;
    border: 5px solid rgb(220, 220, 220);

    transition: left 1s ease-out;

    &:hover {
        left: 0;
    }
}

main .square {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: blue;
    right: 300px;
    top: 200px;
    position: absolute;

    animation: render-square 2s ease-in-out infinite;

    &:hover {
        background-color: yellow;
    }
}

@keyframes render-square {
    0%{
        right: 100px;
        top: 200px;
    }
    25%{
        right: 100px;
        top: 400px;
    }
    50%{
        right: 300px;
        top: 400px;
    }
    75%{
        right: 300px;
        top: 200px
    }
    100%{
        right: 100px;
        top: 200px;
    }
}

.square .text {
    display: flex;
    position: absolute;
    color: white;
    right: 11px;
    top: 10px;
    font-weight: 800;
}

main .left-menu-bok2 p{
    text-align: center;
    padding: 5px;
    font-weight: 700;
}

main .left-menu-bok2 ul li{
    padding: 5px 14px;
}

main .left-menu-bok2 ul li a i {
    margin-right: 5px;
}

main .left-menu-bok2 ul li a{
    font-size: 15px;
    color: gray;
}

main .left-menu-bok2 ul li hr{
    margin-top: 10px;
    border-top-width: 0px;
    border-color: rgb(211, 211, 211);
}

main .left-menu-bok2 ul li .no{
    border: white;
}

.back {
    position: absolute;
    left: 500px;
    width: 450px;
    background-color: lightblue;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
}

.back .text {
    padding: 7px 7px 20px 7px;
    font-weight: 600;
}